
<!-- <p>register works!</p> -->

<form (ngSubmit)="forgotBySecurityQues()" [formGroup]="forgotForm">
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="email" [(ngModel)]="user.email" name="user.email" formControlName="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Select security question</label>
                </td>
                <td>
                    <select [(ngModel)]="user.secQuestion" name="user.secQuestion" formControlName="secQuestion" required>
                        <option>What was your first company?</option>
                        <option>What was your childhood nickname?</option>
                        <option>In what city or town was your first job?</option>
                        <option>What is your oldest sibling's middle name?</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Security Answer</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.secAnswer" name="user.secAnswer" formControlName="secAnswer" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>
