<section class="banner banner-secondary" id="top" style="background-image: url(../assets/img/banner-image-1-1920x300.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Recommendations</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="featured-places">
        <div class="container">
            <div class="row">
                             


                <div class="col-md-8 col-xs-12" >
                    <div class="row">
                        <div>
                            <div class="col-sm-4  col-xs-12" *ngFor="let loan of selectedLoanArray">

                                <div class="featured-item">
                                <div class="thumb">

                                    <div class="thumb-img">
                                        <img src="{{loan.image}}" alt="" height =150 width =200>
                                    </div>

                                    <!-- <div class="overlay-content">
                                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                    </div> -->
                                </div>

                                <div class="down-content" >
                                    <h4>{{loan.bankName}}</h4>

                                    <p> <b>Interest Rate:</b> &nbsp;{{loan.interestRate}}%</p>
                                    <p> <b>EMI Per Month:</b>{{loan.emiPerMonth}}</p>
                                    <p> <b>Loan Amount:</b>&nbsp;{{loan.maxLoanAmt}}</p>

                                    <!-- <p><span> Loan Amount<strong><sup>$</sup>{{loan.maxLoanAmt}}</strong></span></p> -->

                                    <div  >
                                        <button class="equal-button" (click)="viewMore(loan)">View More</button>
                                        <!-- <a href="job-details.html">View More</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>


                         <!-- <div *ngIf="displayHome">
                            <div class="col-sm-4 col-xs-12" *ngFor="let loan of homeArray">
                            <div class="featured-item">
                                <div class="thumb">
                                    <div class="thumb-img">
                                        <img src="../assets/img/product-1-720x480.jpg" alt="">
                                    </div>

                                    <div class="overlay-content">
                                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                    </div>
                                </div>

                                <div class="down-content" >
                                    <h4>{{loan.interestRate}}</h4>

                                    <p> {{loan.bankName}}</p>

                                    <p><span><strong><sup>$</sup>{{loan.maxLoanAmt}}</strong></span></p>

                                    <div class="text-button">
                                        <button (click)="viewMore(loan)">View More</button>
                                         <a href="job-details.html">View More</a> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="displayAuto">
                            <div class="col-sm-4 col-xs-12" *ngFor="let loan of autoArray">
                            <div class="featured-item">
                                <div class="thumb">
                                    <div class="thumb-img">
                                        <img src="../assets/img/product-1-720x480.jpg" alt="">
                                    </div>

                                    <div class="overlay-content">
                                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                     <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                    </div>
                                </div>

                                <div class="down-content" >
                                    <h4>{{loan.interestRate}}</h4>

                                    <p> {{loan.bankName}}</p>

                                    <p><span><strong><sup>$</sup>{{loan.maxLoanAmt}}</strong></span></p>

                                    <div class="text-button">
                                         <button (click)="viewMore(loan)">View More</button> 
                                         <a href="job-details.html">View More</a> 
                                    </div>
                                </div>
                            </div>
                        </div>  -->

                    

                        

                        
                        
                        

                        
                       
                    </div>
                </div>
            </div>
        </div>
    
