<form (ngSubmit)="reset()" [formGroup]="resetForm">
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" [(ngModel)]="user.password" name="user.password" formControlName="newpassword" required>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Confirm Password</label>
                </td>
                <td>
                    <input type="password"  name="user.password" formControlName="confirmpassword" required>
                </td>
            </tr>
            
            <tr>
                <td><input type="submit" value="Reset"></td>
            </tr>
        </tbody>
    </table>
</form>
