<br>
<br>
<br>
<br>
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <input type="text" placeholder="email" required [(ngModel)]="authRequest.email" name="authRequest.email" formControlName="email">
      <input type="password" placeholder="Password" required [(ngModel)]="authRequest.password" name="authRequest.password"  formControlName="password">
      <button type="submit">Login</button>
    </form>
    <div class="links">
      <a routerLink="/register">Create account</a>
      <a routerLink="/forgot">Forgotten password?</a>
    </div>
  </div>

  <button (click)="logout()">Logout</button>
  <br>
  <br>
  <br>
  <br>

