.slider-container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    animation: slide 6s infinite;
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.67% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  .table {
    font-size: 14px;
  }
  
  .table thead th {
    text-align: center;
  }
  
  .table tbody td {
    text-align: center;
  }

  .table-responsive{
    margin: 6rem 6rem;
  }

  
 