<button (click)="viewDocs()">Get Docs</button>
 <table border="2" style="border-collapse: collapse; width: 100%;" *ngIf="showTable">
    <thead>
      <tr>
        <th style="border: 1px solid #000; padding: 8px;">User Email</th>
        <th style="border: 1px solid #000; padding: 8px;">Proof of Identity</th>
        <th style="border: 1px solid #000; padding: 8px;">Proof of Address</th>
        <th style="border: 1px solid #000; padding: 8px;">Bank Statement</th>
        <th style="border: 1px solid #000; padding: 8px;">Salary Slip</th>
        <th style="border: 1px solid #000; padding: 8px;">Driver's License</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of documentations">
        <td style="border: 1px solid #000; padding: 8px;">{{ doc.email }}</td>
        <td style="border: 1px solid #000; padding: 8px;">
          <button (click)="downloadFile(poiSrc, doc.email.split('@')[0] + 'poi.pdf')">
            Download PDF
          </button>
        </td>
        <td style="border: 1px solid #000; padding: 8px;">
          <button (click)="downloadFile(poaSrc, doc.email.split('@')[0] + 'poa.pdf')">
            Download PDF
          </button>
        </td>
        <td style="border: 1px solid #000; padding: 8px;">
          <button (click)="downloadFile(bsSrc, doc.email.split('@')[0] + 'bs.pdf')">
            Download PDF
          </button>
        </td>
        <td style="border: 1px solid #000; padding: 8px;">
          <button (click)="downloadFile(ssSrc, doc.email.split('@')[0] + 'ss.pdf')">
            Download PDF
          </button>
        </td>
        <td style="border: 1px solid #000; padding: 8px;">
          <button (click)="downloadFile(dlSrc, doc.email.split('@')[0] + 'dl.pdf')">
            Download PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>