
/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}

.down-content button{
    justify-content: center;
    display: flex;
}
.carousel-item{
    position: relative;
    /* height: 50rem; */
}
.carousel_overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 110%;
    width: 100%;
    left: 0;
    bottom: 0;
}
.carousel-caption{
    font-size: 1.8rem;
    color: rgb(246, 245, 245);
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    &_1{
        position: absolute;
        top: 5rem;
        left: 46rem;
    }
    &_2{
        position: absolute;
        top: 5rem;
        left: 15rem;
    }
    &_3{
        position: absolute;
        top: 5rem;
        left: 46rem;
    }
}
.carousel-inner{
    height: 100%;
    /* width: 100%; */
    &__img{
        height: 45rem;
    }
}
h5{
    font-size: 2rem;
}
.carousel{
    height: 45rem;
}