<!-- <app-home></app-home> -->
<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html"><div class="logo">
                        <img src="../assets/img/Partner_logo_07_e37e55f31a (1).jpg" alt="Venue Logo" class="logo">
                    </div></a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="index.html">Home</a></li>

                            <li><a href="jobs.html">Jobs</a></li>

                            <li>
                                <a href="#">About</a>
                                <ul class="sub-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="terms.html">Terms</a></li>
                                </ul>
                            </li>

                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a routerLink="login">Login</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>






<router-outlet></router-outlet>     