<!-- <app-home></app-home> -->
 <div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html"><div class="logo">
                        <img src="../assets/img/mainLogo.jpg" alt="Venue Logo" class="logo">
                    </div></a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li><a href="index.html">Home</a></li>

                            <li><a routerLink="/homeDashboard">My Loans</a></li>

                            <li>
                                <a routerLink="/aboutus">About</a>
                                
                            </li>

                            <li><a routerLink="/contact" >Contact Us</a></li>
                            <li><a routerLink="login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>







<router-outlet></router-outlet>     