<!-- <app-home></app-home> -->
 <div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html"><div class="logo">
                        <img src="../assets/img/mainLogo.jpg" alt="Venue Logo" class="logo">
                    </div></a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li><a routerLink="/home">Home</a></li>

                            <li><a routerLink="/homeDashboard">My Loans</a></li>

                            <li>
                                <a routerLink="/aboutus">About</a>
                                
                            </li>

                            <li><a routerLink="/contact" >Contact Us</a></li>
                            <li><a routerLink="login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>







<router-outlet></router-outlet>     

<footer class ="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="./assets/img/mainLogo.jpg" alt="Venue Logo">
                        
                    </div>
                    <p>Take the next step towards achieving your financial goals by exploring our range of personal loans, home loans, and auto loans. We look forward to serving you and helping you secure the financial assistance you require.</p>
                    <!-- <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <!-- <li><a href="index.html"><i class="fa fa-stop"></i>Home</a></li> -->
                                <li><a routerLink="/home"><i class="fa fa-stop"></i>Home</a></li>

                                <li><a routerLink="/aboutus"><i class="fa fa-stop"></i>About</a></li>
                                <li><a routerLink="/contact"><i class="fa fa-stop"></i>Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- <div class="col-md-6">
                            <ul>
                                <li><a href="jobs.html"><i class="fa fa-stop"></i>loans</a></li>
                                <li><a href="testimonials.html"><i class="fa fa-stop"></i>Testimonials</a></li>
                                <li><a href="blog.html"><i class="fa fa-stop"></i>Blog</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p><i class="fa fa-map-marker"></i>Ness Digital Engineering , Mumbai</p>
                    <ul>
                        <li><span>Phone:</span><a href="#">+91 9009017700</a></li>
                        <li><span>Email:</span><a href="#">loans4u@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>