<section class="banner banner-secondary" id="top" style="background-image: url(../assets/img/banner-image-1-1920x300.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="banner-caption">
                  <div class="line-dec"></div>
                  <h2>Here are the Loan details</h2>
                  <!-- <h4><i class="fa fa-briefcase"></i> Security / Protective services jobs</h4> -->
              </div>
          </div>
      </div>
  </div>
</section>

<main>
  <section class="featured-places">
      <div class="container">
         <div class="row">
             <div class="col-lg-3 col-md-3 col-xs-12">
              <div>
                 <img src={{selectedLoan.image}} alt="" class="img-responsive wc-image" height =400> 
              </div>
              <br>
            </div> 

            <div class="col-lg-9 col-md-9 col-xs-12">
              <h2><strong class="text-primary">{{selectedLoan.bankName}}</strong></h2>

              <p class="lead">
                 <b>Max Loan Amount:&nbsp;</b><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{selectedLoan.maxLoanAmt}}&nbsp;&nbsp;
                <i class="fa-solid fa-timer"></i><b>Max Tenure:</b>&nbsp;{{selectedLoan.maxTenure}}  Years&nbsp;&nbsp;
                <i class=""></i>&nbsp;<b>Interest Rate:</b>&nbsp;{{selectedLoan.interestRate}}%
                <!-- <i class=""></i>&nbsp;<b>EMI Per Month:</b>&nbsp;{{selectedLoan.emiPerMonth}} -->
              </p>
              <p class="lead">&nbsp;<b>EMI Per Month:</b>&nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{selectedLoan.emiPerMonth}}</p>

                <div class="blue-button">
                  <a  (click)="applyLoan(selectedLoan)">Apply for this loan</a>
              </div>
                
            </div>
          </div>

          <div class="accordions">
              <ul class="accordion">
                  <li>
                      <a class="accordion-trigger">Loan Description</a>
                      
                      <div class="accordion-content">
                          <p >{{selectedLoan.description}}
                          </p> 
                          
                      </div>
                  </li>
                  <li>
                      <a class="accordion-trigger">Pre-Payment Charges</a>
                      <div class="accordion-content">
                       

                        <p> {{selectedLoan.prePaymentCharges}}</p>
                      </div>
                  </li>
                  <li>
                      <a class="accordion-trigger">More Details</a>

                      <div class="accordion-content">
                        <p>
                            <span>Pre-Processing Fee</span>

                            <br>

                            <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp; <strong>{{selectedLoan.processingFee}}</strong>

                        </p>

                        <p>
                            <span>Phone</span>

                            <br>
                            
                            <strong>
                              <a href="tel:123-456-789">{{selectedLoan.contact}}</a>
                            </strong>
                        </p>

                        <p>
                            <span>Minimum salary for Salaried</span>

                            <br>
                            
                            <strong>
                              <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;<a href="tel:456789123">{{selectedLoan.minSalaryForSalaried}}</a>
                            </strong>
                        </p>
                        <p>
                          <span>Minimum salary for Self Employed</span>

                          <br>
                          
                          <strong>
                            <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;  <a href="tel:456789123">{{selectedLoan.minSalaryForSelfEmployed}}</a>
                          </strong>
                      </p>

                        <p>
                          <span>Minimum Credit Score</span>

                          <br>
                          
                          <strong>
                            <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp; <a href="mailto:john@carsales.com">{{selectedLoan.minCreditScore}}</a>
                          </strong>
                        </p>

                        <p>
                          <span>Website</span>

                          <br>
                          
                          <strong>
                            <a href="{{selectedLoan.url}}">{{selectedLoan.url}}</a>
                          </strong>
                        </p>
                      </div>
                  </li>
              </ul> <!-- / accordion -->
          </div>
      </div>
  </section>