<section class="banner banner-secondary" id="top" style="background-image: url(img/banner-image-1-1920x300.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="banner-caption">
                  <div class="line-dec"></div>
                  <h2>Security officer - luxury retail</h2>
                  <h4><i class="fa fa-briefcase"></i> Security / Protective services jobs</h4>
              </div>
          </div>
      </div>
  </div>
</section>

<main>
  <section class="featured-places">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <div>
                <img src={{selectedLoan.image}} alt="" class="img-responsive wc-image">
              </div>
              <br>
            </div>

            <div class="col-lg-9 col-md-9 col-xs-12">
              <h2><strong class="text-primary">{{selectedLoan.bankName}}</strong></h2>

              <p class="lead">
                 <b>Max Loan Amount:&nbsp;</b><i class="fa-solid fa-indian-rupee-sign"></i>{{selectedLoan.maxLoanAmt}}&nbsp;&nbsp;
                <i class="fa-solid fa-timer"></i><b>Max Tenure:</b>&nbsp;{{selectedLoan.maxTenure}}  Years&nbsp;&nbsp;
                <i class="fa-solid fa-percent"></i>&nbsp;<b>Interest Rate:</b>&nbsp;{{selectedLoan.interestRate}}
              </p>

              <div class="blue-button">
                    <button (click)="applyLoan(selectedLoan)">Apply for this loan</button>
                </div>
            </div>
          </div>

          <div class="accordions">
              <ul class="accordion">
                  <li>
                      <a class="accordion-trigger">Loan Description</a>
                      
                      <div class="accordion-content">
                          <p >{{selectedLoan.description}}
                          </p> 
                          
                      </div>
                  </li>
                  <li>
                      <a class="accordion-trigger">Pre-Payment Charges</a>
                      <div class="accordion-content">
                        <p class="lead"> <i class="fa fa-map-marker"></i> London </p>

                        <p> {{selectedLoan.prePaymentCharges}}</p>
                      </div>
                  </li>
                  <li>
                      <a class="accordion-trigger">More Details</a>

                      <div class="accordion-content">
                        <p>
                            <span>Pre-Processing Fee</span>

                            <br>

                            <strong>{{selectedLoan.processingFee}}</strong>

                        </p>

                        <p>
                            <span>Phone</span>

                            <br>
                            
                            <strong>
                              <a href="tel:123-456-789">{{selectedLoan.contact}}</a>
                            </strong>
                        </p>

                        <p>
                            <span>Minimum salary for Salaried</span>

                            <br>
                            
                            <strong>
                              <a href="tel:456789123">{{selectedLoan.minSalaryForSalaried}}</a>
                            </strong>
                        </p>
                        <p>
                          <span>Minimum salary for Self Employed</span>

                          <br>
                          
                          <strong>
                            <a href="tel:456789123">{{selectedLoan.minSalaryForSelfEmployed}}</a>
                          </strong>
                      </p>

                        <p>
                          <span>Email</span>

                          <br>
                          
                          <strong>
                            <a href="mailto:john@carsales.com">john@carsales.com</a>
                          </strong>
                        </p>

                        <p>
                          <span>Website</span>

                          <br>
                          
                          <strong>
                            <a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
                          </strong>
                        </p>
                      </div>
                  </li>
              </ul> <!-- / accordion -->
          </div>
      </div>
  </section>