<div class="table-responsive">
    <table class="table table-dark" style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
        <thead>
        <tr>
          <th>Application ID</th>
          <th>Bank Name</th>
          <th>Email</th>
          <th>EMI Per Month</th>
          <th>Tenure in years</th>
          <th>Loan Amount</th>
          <th>Interest Rate</th>
          <th>Loan ID</th>
          <th>Loan Type</th>
          <th>Date Applied</th>
          <th>Status</th>
          <th>Get EMI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of applications">
          <td>{{ app.applicationId }}</td>
          <td>{{ app.bankName }}</td>
          <td>{{ app.email }}</td>
          <td>{{ app.emiPerMonth }}</td>
          <td>{{ app.tenure }}</td>
          <td>{{ app.loanAmount }}</td>
          <td>{{ app.interestRate }}</td>
          <td>{{ app.loanId }}</td>
          <td>{{ app.loanType }}</td>
          <td>{{ app.appliedOn }}</td>
          <td [ngStyle]="{'color': (app.status=='Approved') ? 'green' : 'red'}">{{ app.status }}</td>
          <td>
            
            <button (click)="getEmiTable(app.email, app.applicationId)" class="btn btn-primary"
            [disabled]=" (app.status=='Approved') ? false : true" >Get EMIs</button>
           

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table style="border-collapse: collapse; width: 100%;" class="table table-striped" *ngIf="displayEmiTable">
    <thead>
      <tr class="table-primary">
        <td>EMI Id</td>
        <td>Application Id</td>
        <td>Loan Id</td>
        <td>Email</td>
        <td>Date Of Payment</td>
        <td>Emi No</td>
        <td>Beginning Loan Balance</td>
        <td>EMI</td>
        <td>Principal</td>
        <td>Monthly Interest</td>
        <td>Outstanding Balance</td>
        <td>Status</td>
        <td>Pay</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emi of emiTable">
        <td>{{emi.emiId}}</td>
        <td>{{ emi.applicationId }}</td>
        <td>{{ emi.loanId }}</td>
        <td>{{ emi.email }}</td>
        <td>{{ emi.dateOfPayment }}</td>
        <td>{{ emi.emiNo }}</td>
        <td>{{ emi.beginningLoanBalance }}</td>
        <td>{{ emi.emi }}</td>
        <td>{{ emi.principal }}</td>
        <td>{{ emi.monthlyInterest }}</td>
        <td>{{ emi.outstandingBalance }}</td>
        <td>{{ emi.status }}</td>
        <td>
          <button class="btn btn-primary" (click)="updateEmiStatus(emi)">Pay</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  