<!-- <p>register works!</p> -->

<!-- <form (ngSubmit)="signup()" [formGroup]="regForm">
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="email" [(ngModel)]="user.email" name="user.email" formControlName="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" [(ngModel)]="user.password" name="user.password" formControlName="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Select security question</label>
                </td>
                <td>
                    <select [(ngModel)]="user.secQuestion" name="user.secQuestion" formControlName="secQuestion" required>
                        <option>What was your first company?</option>
                        <option>What was your childhood nickname?</option>
                        <option>In what city or town was your first job?</option>
                        <option>What is your oldest sibling's middle name?</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Security Answer</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.secAnswer" name="user.secAnswer" formControlName="secAnswer" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>First Name</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.firstName" name="user.firstName" formControlName="firstName" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.lastName" name="user.lastName" formControlName="lastName" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Pancard No.</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.panCard" name="user.panCard" formControlName="panCard" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mobile</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.mobile" name="user.mobile" formControlName="mobile" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Address</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.address" name="user.address" formControlName="address" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>City</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.city" name="user.city" formControlName="city" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>State</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.state" name="user.state" formControlName="state" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Country</label>
                </td>
                <td>
                    <select [(ngModel)]="user.country" name="user.country" formControlName="country" required>
                        <option>India</option>
                        <option>USA</option>
                        <option>Japan</option>
                        <option>UK</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Pincode</label>
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.pincode" name="user.pincode" formControlName="pincode" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Select Occupation type</label>
                </td>
                <td>
                    <select [(ngModel)]="user.occupationType" name="user.occupationType" formControlName="occupationType" required>
                        <option>Salaried</option>
                        <option>Self employed</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-success">
                        Sign Up
                    </button>
                </td>
            </tr>

        </tbody>
    </table> 
</form> -->


<br>
<br>
<div class="registration-form">
    <h2>Registration</h2>
    <form (ngSubmit)="signup()" [formGroup]="regForm">
      <div class="form-row">
        <label>Email:</label>
        <input type="email" required [(ngModel)]="user.email" name="user.email" formControlName="email">
      </div>
      <div class="form-row">
        <label>Password:</label>
        <input type="password" required [(ngModel)]="user.password" name="user.password" formControlName="password">
      </div>
      <div class="form-row">
        <label>Security Question:</label>
        <select required [(ngModel)]="user.secQuestion" name="user.secQuestion" formControlName="secQuestion">
          <option value="">Select a security question</option>
          <option value="firstCompany">What's your first company?</option>
          <option value="favoriteFood">What's your favorite food?</option>
          <option value="petName">What's your pet name?</option>
        </select>
      </div>
      <div class="form-row">
        <label>Security Answer:</label>
        <input type="text" required  [(ngModel)]="user.secAnswer" name="user.secAnswer" formControlName="secAnswer">
      </div>
      <div class="form-row">
        <label>First Name:</label>
        <input type="text" required [(ngModel)]="user.firstName" name="user.firstName" formControlName="firstName">
      </div>
      <div class="form-row">
        <label>Last Name:</label>
        <input type="text" required [(ngModel)]="user.lastName" name="user.lastName" formControlName="lastName">
      </div>
      <div class="form-row">
        <label>Pancard:</label>
        <input type="text" required [(ngModel)]="user.panCard" name="user.panCard" formControlName="panCard">
      </div>
      <div class="form-row">
        <label>Mobile Number:</label>
        <input type="tel" required [(ngModel)]="user.mobile" name="user.mobile" formControlName="mobile">
      </div>
      <div class="form-row">
        <label>Address:</label>
        <input type="text" required [(ngModel)]="user.address" name="user.address" formControlName="address">
      </div>
      <div class="form-row">
        <label>City:</label>
        <input type="text" required [(ngModel)]="user.state" name="user.state" formControlName="state">
      </div>
      <div class="form-row">
        <label>State:</label>
        <input type="text" required [(ngModel)]="user.state" name="user.state" formControlName="state">
      </div>
      <div class="form-row">
        <label>Country:</label>
        <input type="text" required [(ngModel)]="user.country" name="user.country" formControlName="country">
      </div>
      <div class="form-row">
        <label>Pincode:</label>
        <input type="text" required [(ngModel)]="user.pincode" name="user.pincode" formControlName="pincode">
      </div>
      <div class="form-row">
        <label>Occupation Type:</label>
        <select required [(ngModel)]="user.occupationType" name="user.occupationType" formControlName="occupationType">
          <option value="">Select occupation type</option>
          <option value="salaried">Salaried</option>
          <option value="selfEmployed">Self Employed</option>
        </select>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>

  <br>
  <br>

